@model IEnumerable<eUseControl.Domain.Entities.Villa.VillaDbTable>

@{
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
    ViewBag.Title = "Manage Villas";
}

<h2 style="text-align: center;">Manage Villas</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Description)</th>
            <th>@Html.DisplayNameFor(model => model.First().Location)</th>
            <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            <th>@Html.DisplayNameFor(model => model.First().Bedrooms)</th>
            <th>@Html.DisplayNameFor(model => model.First().Bathrooms)</th>
            <th>@Html.DisplayNameFor(model => model.First().Area)</th>
            <th>@Html.DisplayNameFor(model => model.First().Parking)</th>
            <th>@Html.DisplayNameFor(model => model.First().ImageUrl)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>@item.Id</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Bedrooms)</td>
                <td>@Html.DisplayFor(modelItem => item.Bathrooms)</td>
                <td>@Html.DisplayFor(modelItem => item.Area)</td>
                <td>@Html.DisplayFor(modelItem => item.Parking)</td>
                <td><img src="@Url.Content(item.ImageUrl)" alt="@item.Name" width="100" height="100" /></td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
