@{
    ViewBag.Title = "_Header";
    var user = HttpContext.Current.Session["User"] as eUseControl.Domain.Entities.User.UserMinimal;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="@Url.Action("Index", "Home")" class="logo">
                    <h1>Villa</h1>
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Properties", "Properties", "Home")</li>
                    <!-- <li><li>@Html.ActionLink("Property Details", "Details", "Home")</li>-->
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                    <!-- <li>@Html.ActionLink("Log/Reg", "Index", "Login")</li> -->
                    @if (user != null && user.Level == eUseControl.Domain.Enums.URole.Admin)
                    {
                        <li>@Html.ActionLink("Management", "Index", "Management")</li>
                    }
                    <li>@Html.ActionLink("Search", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reviews", "Index", "Home")</li>
                    <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                </ul>
    <a class='menu-trigger'>
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>
        </div>
    </div>
</div>
